/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'F29LT Riwaya Italic', sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: "F29LT Riwaya Italic";
    src: url("https://db.onlinewebfonts.com/t/a831675c355af267d4dade89bf89e1f2.eot");
    src: url("https://db.onlinewebfonts.com/t/a831675c355af267d4dade89bf89e1f2.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/a831675c355af267d4dade89bf89e1f2.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/a831675c355af267d4dade89bf89e1f2.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/a831675c355af267d4dade89bf89e1f2.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/a831675c355af267d4dade89bf89e1f2.svg#F29LT Riwaya Italic") format("svg");
}
/* Estilo do cabeçalho */
header {
    padding: 10px 0;
    background-color: #fff;
    color: black;
    position:fixed;  /*sticky*/
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#logo {
    height: 40px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

nav {
    transition: max-height 0.3s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 16px;
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #F0663E;
}

nav a:hover {
    color: black;
    transition: color 0.3s;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-scroll {
    overflow-x: hidden;
}

/* Responsiveness */
@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        display: block;
        margin-bottom: 10px;
    }

    nav {
        display: none;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    nav.open {
        display: block;
        max-height: 500px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0 16px; 
    }
}

/* Estilo da seção de banner */
#banner {
    position: relative;
    width: 100%;
    height: 100vh; /* Reduzindo a altura para 80% da altura da viewport */
    background: url('/img/background.avif') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    z-index: 1;
}

#banner .container {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    text-align: center;
}

#banner .welcome {
    font-size: 42px;
    margin: 180px ;
}

@media screen and (max-width: 760px) {
    #banner {
        height: 60vh; /* Reduz ainda mais a altura para 60% da viewport */
    }

    #banner .welcome {
        font-size: 28px; 
        margin: 0 10px; 
        padding: 0 20px; 
    }
}

/* Estilo da seção "Sobre nós" */
#sobre {
    padding: 40px 10px; 
    background-color: #F0663E;
    height: auto; 
}

#sobre .container {
    display: flex;
    align-items: center;
}

.app_truckme {
    width: 880px;
    margin-right: 50px;
    transform: rotateY(0deg);
    transition: transform 1s;

}

.app_truckme:hover{
    transform: rotateY(360deg);
}

.sobre__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.sobre__caption {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: start;
    margin-top: 10px;
}

.sobre__title__description {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    color: #fff;
}

#sobre .btn-read-more {
    margin-top: 20px;
    padding: 10px 20px;
    background: #FBF7F7;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    float: left;
    cursor: pointer;
}

#sobre .btn-read-more:hover {
    background: #f18b6d;
}

@media screen and (max-width: 720px) {
    #sobre .container {
        flex-direction: column; 
        align-items: center; 
    }

    .no-scroll {
        overflow-y: hidden;
    } 

    .app_truckme {
        max-width: 50%; 
        margin-bottom: 20px;
    }

    .content {
        text-align: center; 
        padding: 0 22px;
    }

    .sobre__title {
        font-size: 18px; 
    }

    .sobre__caption {
        font-size: 16px; 
    }

    .sobre__title__description {
        font-size: 16px; 
    }
}

/* Estilo da seção de serviços */
#servicos {
    background-color: #FBF7F7;
    padding: 50px 0;
}

.servicos__section {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #a363aa;
    font-weight: bold;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

th {
    background-color: #4CAF50;
    color: white;
}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card__img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card__description, .card__preco {
    font-size: 14px;
    margin-bottom: 5px;
}

@media (max-width: 1022px) {
    .container {
        padding: 0 20px
    }

    .table-container {
        overflow-x: auto;
        white-space: nowrap; 
    }

    th, td {
        font-size: 12px; 
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

/* Estilo da galeria de fotos */
#gallery__section {
    background-color: #FBF7F7;
    padding: 30px 0;
}

.servicos__gallery {
    text-align: center;
    font-size: 24px;
    color: #a363aa;
    font-weight: bold;
}

.gallery {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    filter: grayscale(100%);
    transform: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 720px) {
    .gallery {
        max-width: 500px;
        width: 500px;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .gallery-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 50%;
        padding: 20px;
    }
        
}

@media (min-width:721px) and (max-width: 1022px) {
    .gallery {
        max-width: 500px;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .gallery::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .gallery-wrap {
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
    }
        
    .gallery-item {
        min-width: 100px; /* Width of each item */
        margin: 0 10px; /* Space between items */
    }
}

/* Estilo da seção de contatos */
#contatos {
    background: linear-gradient(#ffdad5, #fff7f9);
    padding: 0 10px;
}

.contact-container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #a363aa;
    font-size: 25px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
}

@media (max-width: 720px) {

    .contact-container {
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        padding: 10px 10px; 
        
    }
    
    .contact-left {
        align-items: center; 
    }

    .contact-left button {
        width: 60%; 
    }

    .contact-inputs {
        width: 290px; 
    }

    .contact-right img {
        width: 250px;
        margin-top: 5px; 
    }
}
